<% layout("/layouts/boilerplate") %>
         <br>
        <br>
        <div class="row mt-3">
            
        <div class="col-8 offset-2">
        <h3>Create A New listing</h3>
        <form method="POST" action="/listings"novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label form="title" class="form-label">Tittle</label>
        <input name="listing[title]" 
        placeholder="enter tittle" 
        class="form-control" 
        type="text"
        required
        />
        <div class="valid-feedback">
            Tittle looks good
        </div>
        
        </div>
        <div class="mb-3">
        <label form="description" class="form-label">Description</label>
        <textarea name="listing[description]"
         placeholder="enter description"
         class="form-control"
         required
         ></textarea>
         <div class="invalid-feedback">please enter short</div>
        </div>
        <div class="mb-3">
        <label form="image" class="form-label">Upload Image</label>
        <input name="listing[image]" type="file" class="form-control" />
        </div>
        <div class="row">

        <div class="mb-3 col-md-4">
        <label form="price" class="form-label">Price</label>
        <input name="listing[price]" 
        placeholder="1200"
        type="text"
        class="form-control"
        required
        />
        <div class="invalid-feedback">Price shoudl be valid </div>
        </div>
        <div class="mb-3 col-md-8">
        <label form="country" class="form-label">Country</label>
        <input name="listing[country]"
         placeholder="enter country"
         type="text"
         class="form-control"
         required/>
         <div class="invalid-feedback">Country should be valid</div>
        </div>

        </div>
        <div class="mb-3"> 
        <label form="location" class="form-label">Location</label>
        <input name="listing[location]"
         placeholder="enter location"
         type="text"
         class="form-control"
         required/>
         <div class="invalid-feedback">Location should be valid</div>
         </div>

        <button class="btn btn-dark add-btn mt-3">Add</button>

    </form>
</div>
</div>